.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reset-btn,
.playagain {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #ddd;
  color: #ddd;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.reset-btn:hover,
.playagain:hover {
  transform: scale(1.05);
}

.grid {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.box {
  width: 200px;
  height: 200px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box:not(:nth-child(3n + 3)) {
  border-right: 5px solid #ddd;
}

.box:nth-child(-n + 6) {
  border-bottom: 5px solid #ddd;
}

.winner {
  text-align: center;
}

h2 {
  font-size: 58px;
  line-height: 1.2;
  margin-bottom: 15px;
}

h3 {
  font-size: 32px;
  margin-bottom: 25px;
}
